img {
  max-width: 100%; 
}

body {
  margin: 0;
  overflow-x: hidden;
}

.hid{
  display: none;
}
.icons img{
  width: 18px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
  font-size: 0;
}

.container{
  position: relative;
  width: 1320px !important;
  margin: 30px auto 0;
}
@media (min-width: 992px){
  .row{
    position: relative;
  }
  .col-md-3 {
      width: 31%;
      position: absolute;
      right: 140px;
      z-index: 99;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
}
.browserupgrade {
  margin: 0;
  padding: .5em 1em;
  background-color: #fcfcfc;
  text-align: center;
}
.row{
  margin: 0;
}

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #0074d9;
}

.img-preview.preview-lg{
  border: 1px solid #337ab7;
}

.navbar-toggle .icon-bar { 
  background-color: #0074d9;
}

.docs-jumbotron {
  background-color: #0074d9;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

@media (min-width: 992px) {
  .docs-jumbotron h1,
  .docs-jumbotron p {
    margin-right: 380px;
  }
}

.docs-carbonads-container {
  position: relative;
}

.docs-carbonads {
  max-width: 350px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  float: left;
  display: block;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
}

.carbon-text,
.carbon-text:hover,
.carbon-text:focus {
  color: #fff;
  text-decoration: none;
}

.carbon-poweredby,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none;
}

.img-container,
.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 200px;
  max-height: 516px;
  margin-bottom: 20px;
  border: 1px solid #185393;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 516px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  width: 530px;
}

.img-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}
.preview {
  overflow: hidden;
  width: 550px; 
  height: 350px;
}
.preview-lg {
  width: 550px;
  height: 350px;
}

.docs-data{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
.docs-data span{
  padding-top: 8px;

}

.docs-data > .input-group {
  margin-bottom: 0;
}

.docs-data > .input-group > label {
  min-width: 80px;
}

.docs-data > .input-group > span {
  min-width: 50px;
}
.docs-buttons{
  position: relative;
  width: 724px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;flex-direction: column;
}
.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 6px;
  margin-bottom: 10px;
}
.row_btns{
  display: inline-block;
}
.btn_new_group.fix .btn-group{
  display: inline-flex;
  flex-direction: column;
  gap: 10px;

}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 30px;
}
.docs-toggles{
  position: relative;
  top: 8px;
}

.docs-tooltip {
  display: block;
}

.docs-tooltip > .icon {
  margin: 0 -3px;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
  white-space: nowrap;
}

.btn-toggle {
  padding: 6px;
}

.btn-toggle > .docs-tooltip {
  margin: -6px;
  padding: 6px;
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  padding: 3px 20px;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}

.docs-diagram .modal-dialog {
  max-width: 352px;
}
.btn-group-justified{
  table-layout: auto;
  display: flex;
  height: 30px;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group{
  width: 77px;
  /* height: 35px; */
  display: flex  ;
  align-items: center;
  justify-content: center;
}

.slider_wrapper{
  position: relative;
}
.slider_wrapper button{
  position: relative;
  z-index: 999;

}
.slider_item{
  width: 548px;
  position: absolute;
  left: 0;
  top: -250px;
  max-width: none;
  z-index: 2;
  height: auto;
  overflow: hidden;
}
.fon2{
  top: 12px;
}
/* .fon3,
.fon4,
.fon5,
.fon6,
.fon7{
  top: 4px;
} */
.slider_item .item img{
  width: 548px;
  height: auto;

}
.btn_new_group{
  display: flex;
  width: 700px;
  justify-content: space-between;
  margin-bottom: 12px;
}
.modal-footer{
  display: flex;
  gap: 8px;
  padding-bottom: 60px;
}
.modal-footer span {
  position: absolute;
  bottom: 15px;
  left: 26px;
}

